<!doctype html>

<html>
   <head>
      <title>Page Title</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="initial-scale=1.0">
      <link href="css/header.css" rel="stylesheet" type="text/css">
      <link href="css/style.css" rel="stylesheet" type="text/css">
      <script src="js/jquery-3.3.1.js"></script>
      <script src="js/script.js"></script>
   </head>
       <body>
         <div id="wrap">    
            <ul id="header">
                <a href="#"><li id="logo"> <p>Koreigner</p></li></a>
                <ul id="menu_wrap">  
                    <li class="menu"><a href="#">Home</a></li>
                    <li class="menu"><a href="#">Job</a></li>
                    <li class="menu"><a href="#">House</a></li>
                    <li class="menu"><a href="#">Resale</a></li>
                    <li class="menu"><a href="#">Community</a></li>
                    <li class="menu"><a href="#"></a></li>
                    <li class="menu"><a href="#">Sign in</a></li>
                    <li class="menu"><a href="join/join.html">Register</a></li>
                    <li class="menu"><a href="#"></a></li>
                </ul>
            </ul>
            <div id="header_bottom">
                <a href="#">
                <div id="post_btn">
                   <div id="btn_txt">
                        Post an ad
                   </div>
                </div>
                </a>
            </div>
         </div>
         
       </body>
</html>