<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="BoardDAO">
	<!-- ====================select=================== -->
	<select id="getBoardList" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD
		 WHERE 1=1
		 <if test="searchCondition == 'TITLE'">
		 	AND TITLE LIKE '%' || #{searchKeyword} || '%'
		 </if>
		 <if test="searchCondition == 'CONTENT'">
		 	AND CONTENT LIKE '%' || #{searchKeyword} || '%'
		 </if>
	</select>
	<select id="getBoardList_nopara" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD
	</select>
	
	<select id="getBoard" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD WHERE SEQ = #{seq}
	</select>
	<!-- ====================select   END=================== -->
	
	
	
	<!-- ====================insert=================== -->
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO BOARD (SEQ, TITLE, WRITER, CONTENT) 
		  VALUES ((SELECT NVL(MAX(SEQ), 0) + 1 FROM BOARD), 
		  #{title}, #{writer}, #{content})
	</insert>
	<!-- ====================insert   END=================== -->
	
	
		
		
	
	<!-- ====================update=================== -->
	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE SEQ = #{seq}
	</update>
	
	<!-- ====================update   END=================== -->
	
	
	<!-- ====================delete=================== -->
	<delete id="deleteBoard" parameterType="boardVO">
		DELETE FROM BOARD WHERE SEQ = #{seq}
	</delete>
	<!-- ====================delete   END=================== -->
</mapper>












